<!DOCTYPE html>

<!--************************************************************************
    * AUTHOR     : Brionna Spencer
    * ASSIGNMENT : cis255 - Program 07 - AngularJS
    * URL        : csis.svsu.edu/~blspence/cis255/program07/cubic.html
    * OVERVIEW   : Cubic Formula
    ************************************************************************ -->

<html lang="en">

<head>
    <!-- METADATA ********************************************************** -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Brionna Spencer" />
    <meta name="copyright" content="Brionna Spencer" />
    <meta name="keywords" content="web, development, client side, front end" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- LOCAL CSS CONFIG ************************************************** -->
    <link rel="stylesheet"
          type="text/css"
          href="../program07.css">

    <!-- BOOTSTRAP CONFIG ************************************************** -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- ANGULARJS CONFIG ************************************************** -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
    </script>

    <!-- LOCAL JAVASCRIPT CONFIG ******************************************* -->
    <script src="cubic.js"></script>
</head>

<body>
    <div class="container gray-background-color">
        <div class="row" style="color:white;">
            <div class="col-md-12" ng-app="cubicApp" ng-controller="cubicCtrl">
                <br>
                a: <input type="number" ng-model="a"><br>
                b: <input type="number" ng-model="b"><br>
                c: <input type="number" ng-model="c"><br>
                d: <input type="number" ng-model="d"><br>
                <button class="buttonClass" ng-click="calculate()">Calculate</button><br>
                x1: <input ng-readonly="true" ng-model="x1"><br>
                x2: <input ng-readonly="true" ng-model="x2"><br>
                x3: <input ng-readonly="true" ng-model="x3"><br>
                <br>
            </div>
        </div>
    </div>
</body>

</html>
