/* **************************************************************************
   * COPYRIGHT  : GNU General Public License: http://www.gnu.org/licenses/
   *              See bottom of file for details.
   * AUTHOR     : Brionna Spencer
   * ASSIGNMENT : cis255 - Program 03 - CSS and Chrome DevTools
   * URL        : csis.svsu.edu/~blspence/cis255/program03/program03.css
   * OVERVIEW   : CSS for program03.html
   ************************************************************************** */

html {
    font-family: "Calibri", sans-serif;
}

.row {
    float: left;
    width: 100%;
}

.column {
    float: left;
    margin: auto 5px; /* vertical | horizontal */
    width: 30%;
}

body {
    text-align: left;
    margin: auto 15%; /* vertical | horizontal */
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#deviceSpecificText {
    color: black;
    text-shadow: 2px 2px #C0C0C0;
    user-select: none;
}

/* 5 CSS Properties for Discussion ****************************************** */
#cursorDemo {
   cursor: zoom-in;
}

#box-shadowDemo {
   box-shadow: 5px 10px #888888;
}

#transformDemo {
    transform: rotate(5deg);
}

#filterDemo {
    filter: grayscale(100%);
}

#opacityDemo {
    opacity: 0.5;
}

/* ANIMATION **************************************************************** */
.letter {
    font-family: "Arial", sans-serif;
    font-size: 4vw;
    color: blue;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#letterS  {animation-name: changeColorS;}
#letterV  {animation-name: changeColorV;}
#letterS2 {animation-name: changeColorS2;}
#letterU  {animation-name: changeColorU;}

@keyframes changeColorS  {
    0%{color: red;}  25%{color: blue;}  50%{color: blue;} 75%  {color: blue;} 100%{color: red;}
}
@keyframes changeColorV  {
    0%{color: blue;}  25%{color: red;}  50%{color: blue;} 75%  {color: blue;} 100%{color: blue;}
}
@keyframes changeColorS2 {
    0%{color: blue;}  25%{color: blue;}  50%{color: red;} 75%  {color: blue;} 100%{color: blue;}
}
@keyframes changeColorU  {
    0%{color: blue;}  25%{color: blue;}  50%{color: blue;} 75%  {color: red;} 100%{color: blue;}
}

/* MEDIA QUERY ************************************************************** */
/* Mobile Devices (Portrait Mode)
   Note: this media query was tested on my Nexus 5X phone and worked properly.
*/
@media only screen and (max-device-width: 480px) {
    .column {
        font-size: 1vw;
        width: 100%;
    }

    body {
        margin: auto 10%; /* vertical | horizontal */
    }

    #deviceSpecificText {
        color: purple;
    }
}

/* COPYRIGHT NOTICE */
/* **************************************************************************
   GNU General Public License (http://www.gnu.org/licenses/)
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
   ************************************************************************** */