/* **************************************************************************
   * COPYRIGHT  : GNU General Public License: http://www.gnu.org/licenses/
   *              See bottom of file for details.
   * AUTHOR     : Brionna Spencer
   * ASSIGNMENT : cis255 - Program 03 - CSS and Chrome DevTools
   * URL        : csis.svsu.edu/~blspence/cis255/program03/program03.css
   * OVERVIEW   : Favorite CSS Properties; Chrome DevTool Demonstration
   ************************************************************************** */

html
{
    font-family: "Calibri", sans-serif;
}

#row {
    float: left;
    width: 100%;
}

#column {
    float: left;
    width: 33.33%;
}

body {
    text-align: left;
         /* vertical | horizontal */
    margin: auto       15%;
}

/* Media Query: Mobile Portrait Mode */
@media only screen and (max-device-width: 480px) {
    #column {
        font-size: 1vw;
        width: 50%;
    }
    body {
             /* vertical | horizontal */
        margin: auto       10%;
    }
}

/* COPYRIGHT NOTICE */
/* **************************************************************************
   GNU General Public License (http://www.gnu.org/licenses/)
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
   ************************************************************************** */