<!DOCTYPE html>

<!--************************************************************************
    * AUTHOR     : Brionna Spencer
    * ASSIGNMENT : cis255 - Program 07 - AngularJS
    * URL        : csis.svsu.edu/~blspence/cis255/program07/program07.html
    * OVERVIEW   : AngularJS Calculations
    ************************************************************************ -->

<html lang="en">

<head>
    <!-- TAB-TITLE/FAVICON ************************************************* -->
    <title>Program07</title>
    <link rel="icon" href="../media/cardinal_logo.png" type="image/png" />

    <!-- METADATA ********************************************************** -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Brionna Spencer" />
    <meta name="copyright" content="Brionna Spencer" />
    <meta name="keywords" content="web, development, client side, front end" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- LOCAL CSS CONFIG ************************************************** -->
    <link rel="stylesheet"
          type="text/css"
          href="program07.css">

    <!-- BOOTSTRAP CONFIG ************************************************** -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- ANGULARJS CONFIG ************************************************** -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
    </script>

    <!-- LOCAL JAVASCRIPT CONFIG ******************************************* -->
    <script src="program07.js"></script>
</head>

<body>
    <!-- HTML Body Container *********************************************** -->
    <div class="container gray-background-color">

        <!-- GitHub Button ************************************************* -->
        <div class="btn-group gray-background-color" role="group">
            <a href="https://github.com/blspence/cis255/tree/master/program07"
               target="_blank"
               class="btn btn-primary active"
               role="button"
               aria-pressed="false">
                   Go to GitHub
           </a>
        </div>

        <!-- Webpage Title ************************************************* -->
        <div class="row">
            <div class=".col-md-12">
                <h1 style="color:white;">
                    Perform Calculations with <strong>AngularJS</strong>
                </h1>
            </div>
        </div>

        <!-- Temperature Conversion **************************************** -->
        <div class="row">
            <div class=".col-md-12">
                <h3 style="color:white;">
                    Temperature Conversion
                </h3>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-12" ng-app="tempApp" ng-controller="tempCtrl">
                Fahrenheit: <input type="number" ng-model="fahrenheit"><br>
                <button class="buttonClass" ng-click="convert()">Convert</button><br>
                Celsius: <input ng-readonly="true" ng-model="celsius"><br>
                <br>
            </div>
        </div>

        <!-- Quadratic Formula ********************************************* -->
        <!-- TODO -->

        <!-- Cubic Formula ************************************************* -->
        <!-- TODO -->

        <!-- footer ******************************************************** -->
        <div class="row content">
            <div class="col-md-12">
                <footer>
                    <p class="serif-font">
                        &copy; 2018 Brionna Spencer.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>
